<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Predictor</title>
    <link rel="stylesheet" href="{{url_for('static', filename="css/home.css")}}" />
  </head>
  <body>
    <div class="login-container">
      <form id="login-form" class="login-form">
        <h2 style="margin-top: 20px">AI STOCK PREDICTOR</h2>
        <div style="margin-top: 20px" class="input-group">
          <label for="tinker">Ticker Symbol: </label>
          <input type="text" id="tinker" name="tinker" required />
        </div>
        <div style="margin-top: 20px" class="input-group">
          <label for="days">Number of days: </label>
          <input type="text" id="days" name="days" required />
        </div>
        <button style="margin-top: 20px">Predict</button>
      </form>
    </div>
  </body>
  <script src="static/script.js"></script>
</html>
